database:
  mongodb:
    messageDatabase: admin
    messageCollection: message
    uri: mongodb://localhost:27017
    user: root
    pwd: App2021!
  rabbitmq:
    url: amqp://guest:guest@localhost:5672/
    queueNameByUser: message.queue.%d
    exchangeName: message.exchange.topic
    messageRoutingKey: room.%d